.menu {
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
  position: absolute;
  background-color: inherit;
}

.menu-options {
  list-style: none;
  padding: 10px 0;
  margin: 0;
}

.menu-option {
  font-weight: 500;
  font-size: 14px;
  padding: 10px 40px 10px 20px;
  cursor: pointer;
}

.menu-option:hover {
  background-color: rgb(20, 20, 20);
}
