@{
    ViewData["Title"] = "Начална страница";
}

<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <p class="lead">Deploy ASP.NET Core Web App to Microsoft Azure App Service.</p>
</div>
<hr />
<h2>Обучение за ИТ умения и кариера</h2>
<p>
    Националната програма "<a target="_blank" href="https://it-kariera.mon.bg/e-learning/">Обучение за ИТ умения и кариера</a>" на Министерството на образованието и науката (МОН) предлага формат за обучение по програмиране на ученици от цялата страна за придобиване на професионална квалификация по професия "Приложен програмист".
</p>
<p>
    Разгледай <a target="_blank" href="https://github.com/dimitarminchev/ITCareer/">електронно хранилище</a> и <a target="_blank" href="https://dimitar-minchev.gitbook.io/it-career/">електронна книга</a> с учебни материали, задачи и решения.
</p>
