@{
    ViewData["Title"] = "Политика за поверителност";
}
<h1>Политика за поверителност</h1>
<p>
    Европейският съюз е ангажиран със защитата на неприкосновеността на личния живот на  потребителите.
</p>
<p>
    Политиката относно защитата на лицата по отношение на обработката на лични данни от
    институциите на ЕС понастоящем се основава на Регламент (ЕС) 2018/1725 на Европейския
    парламент и на Съвета от 23 октомври 2018 г. относно защитата на физическите лица във
    връзка с обработването на лични данни от институциите, органите, службите и агенциите на
    Съюза и относно свободното движение на такива данни и за отмяна на Регламент (ЕО) №
    45/2001 и Решение № 1247/2002/ЕО.
</p>
<p>
    Въпреки че можете да сърфирате в повечето Интернет сайтове, без да предоставяте лична
    информация, в някои случаи се изисква информация, за да ви бъдат предоставени
    поисканите от вас електронни услуги.
</p>
<p>
    Уебсайтовете, които изискват такава информация, я обработват при пълно спазване на
    горепосочения регламент, а в техните декларации за поверителност се предоставя
    информация за използването на вашите данни.
</p>
<p>
    Примерен текст на Политика за поверителност от официалният сайт на Европейският съюз:
    <a href="https://europa.eu/european-union/abouteuropa/privacy-policy_bg" target="_blank">
        https://europa.eu/european-union/abouteuropa/privacy-policy_bg
    </a>
</p>

