@page
@model IndexModel
@{
    ViewData["Title"] = "Начална станица";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли</h1>
    <p>Научете повече за <a href="https://docs.microsoft.com/aspnet/core">разработката на уеб проложения с ASP.NET Core</a>.</p>
</div>
