@page
@model PrivacyModel
@{
    ViewData["Title"] = "Политика за поверителност";
}
<h1>@ViewData["Title"]</h1>

<p>Европейският съюз е ангажиран със защитата на неприкосновеността на личния живот на потребителите.</p>
<p>
Политиката относно защитата на лицата по отношение на обработката на лични данни от институциите на ЕС
понастоящем се основава на Регламент (ЕС) 2018/1725 на Европейския парламент и на Съвета от 23 октомври 2018 г.
относно защитата на физическите лица във връзка с обработването на лични данни от институциите, органите,
службите и агенциите на Съюза и относно свободното движение на такива данни и за отмяна на Регламент (ЕО) № 45/2001 и Решение № 1247/2002/ЕО.
</p>