@{
    ViewData["Title"] = "Начало";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли</h1>
    <p>Научете повече за разработката на 
    <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a> приложения.</p>
</div>
