@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The European Commission is committed to user privacy.</p>

<p>
The policy on protection of individuals with regard to the processing of personal data 
by the European Union institutions is based on the Regulation (EU) 2018/1725 
on the protection of personal data by the EU institutions, bodies, offices and agencies.
</p>