@page
@model ErrorModel
@{
    ViewData["Title"] = "Грешка";
}

<h1 class="text-danger">Грешка.</h1>
<h2 class="text-danger">Възникна грешка при обработката на Вашата заявка.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Идентификатор на заявката:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим за разбработка</h3>
<p>
    Включването на <strong>Режим за разработка</strong> ще предостави повече детайлна информация за възникналата грешка.
</p>
<p>
    <strong>Режимът на разработка не трябва да остане включен след завършване на приложението</strong>,
    тъй като това може да доведе до показване на чувствителна информация на крайните потребители.
    За локално отстраняване на грешки, режимът за разработка може да бъде включен посредством задаване в
    променливата <strong>ASPNETCORE_ENVIRONMENT</strong> на стойност <strong>Development</strong> и рестартиране на приложението.
</p>
