@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Потвърждение при забравена парола";
}

<h1>@ViewData["Title"]</h1>
<p>
    Моля проверете електронната си поща, за да нулирате паролата.
</p>

