@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="cat.png" alt=" Fluffy Duffy Munchkin Cats" width="250" />
    <h1 class="display-4">FDMC project</h1>
    <p>FDMC stands for Fluffy Duffy Munchkin Cats</p>
</div>
