@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
	<img src="pepper.png" alt="Library" width="300" />
    <h1 class="display-4">CHUSHKA</h1>
    <p>Central Hierarchically-Universal Sales Host Kickstarter Application.</p>
</div>
