@model IEnumerable<OrderListingViewModel>

@{ 
    ViewData["Title"] = "All Orders";
    const string dateFormat = "dd-MMM-yyyy hh:mm:ss"; 
}

<h2>Orders</h2>
<table class="table">
<tr>
<th>#</th>
<th>Name</th>
<th>Customer</th>
<th>Ordered On</th>
</tr>

@{ var orders = Model as OrderListingViewModel[] ?? Model.ToArray(); }
@for (int i = 0; i < orders.Length; i++)
{
    var m = orders[i];

<tr>
    <th>@(i + 1)</th>
    <td>@m.Event.Name</td>
    <td>@m.UserName</td>
    <td>@m.OrderedOn.ToString(dateFormat)</td>
</tr>
 }

</table>
