@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<div class="mt-5 mb-3 w-25 container text-center">
    <form method="post" asp-action-returnUrl="@Model.ReturnUrl">

        <h2>Login</h2>
        <div asp-validation-summary="All" class="text-danger"></div>
        <hr class="hr-2 eventures-bg-color">
        <div class="form-group">
            <label asp-for="Input.Username"></label>
            <input class="form-control" asp-for="Input.Username" placeholder="@Html.DisplayNameFor(d => d.Input.Username)..."/>
            <span asp-validation-for="Input.Username" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.Password" class="mt-3"></label>
            <input class="form-control" asp-for="Input.Password" placeholder="@Html.DisplayNameFor(d => d.Input.Password)..."/>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <hr class="hr-2 eventures-bg-color my-4">

        <button type="submit" class=" btn btn-primary">Login</button>
    </form>
    <div class="flex-column">
        <div class="mt-2">
            <a href="#">Forgot your password?</a>
        </div>
        <div class="mt-2">
            <a class="mt-2" asp-area="Identity" asp-page="/Account/Register">Register as a new user</a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}