@page
@model UI.BookCategoryPages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BookCategory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookCategory.Book)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookCategory.Book.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookCategory.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookCategory.Category.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="BookCategory.BookId" />
        <input type="hidden" asp-for="BookCategory.CategoryId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
