@page

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chushka</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>

    <!-- menu -->
    <ul class="nav m-4 p-4 container bg-danger text-white">
        <div class="navbar-brand">CHUSHKA</div>
        <li class="nav-item">
            <a class="nav-link active" href="Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Register">Register</a>
        </li>
    </ul>
    <!-- /menu -->

    <!-- header -->
    <header class="container m-4 p-4 bg-danger text-white">
        <h1>Welcome to Chushka Universal Web Shop</h1>
        <hr />
        <p><a href="Login">Login</a> if you have an account.</p>
        <p><a href="Register">Register</a> if you don't.</p>
    </header>
    <!-- /header -->
    <!-- content -->
    <div class="container m-5 p-5">
        <div class="row">
            <div class="col">
                &nbsp;
            </div>
        </div>
    </div>
    <!-- /content -->
    <!-- footer -->
    <footer class="container m-4 bg-danger text-white text-center">
        <p>&copy; CopyRight Sanity Web Design Studios 2018. All Rights Reseved.</p>
    </footer>
    <!-- /footer -->

</body>
</html>