@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Достъп отказан";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Нямате достъп до този ресурс.</p>
</header>
