@page
@model IndexModel
@{
    ViewData["Title"] = "Начална страница";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли</h1>
    <p>Научете повече за разработката на уеб приложения с 
    <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
</div>
