@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <img src="books.png" alt="Library" width="250" />
        <h1 class="display-4">BOOKS</h1>
        <p>This project uses ASP.NET Core and Entity Framework Core to create database using code first.</p>
    </div>